*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.notepad{
    background: url("resources/doted.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Give You Glory", cursive;
    font-weight: 400;
    font-style: normal;

}

.notes span{
    color: rgba(0,0,0,0.5);
    margin-left: 10px;
}